{% extends 'base.html' %}
{% block content %}
<center>
    <h1>Users:</h1>
        {% for user in users %}
        {% if user.username == 'xino' %}
        {% else %}
        <h4>{{user.username}} | {{user.email}} <a class="btn btn-danger" href="/deleteuser/{{user.id}}">Delete user</a></h4>
        {% endif %}
        {% endfor %}
        <a class="btn btn-primary" href="/reg">Add user</a>
        <hr>
        <h1>Questions:</h1>
        {% for question in questions %}
            <h4>{{question.ques}} | {{question.ans}} <a class="btn btn-danger" href="/deleteques/{{question.id}}">Delete question</a></h4>
        {% endfor %}
        <a class="btn btn-primary" href="/addques">Add question</a>
</center>
{% endblock %}