<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <title>CrypticHunt</title>
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">CrypticHunt</span>
        </a>
  
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/lb" class="nav-link" aria-current="page">Leaderboard</a></li>
          {% if current_user.is_authenticated %}
          {% if current_user.username == 'xino' %}
          <li class="nav-item"><a href="/admin" class="nav-link" aria-current="page">Admin dashboard</a></li>
          {% endif %}
          {% if current_user.correct_ans > 0 %}
          <li class="nav-item"><a href="/play/{{current_user.correct_ans}}" class="nav-link">Play</a></li>
          {% else %}
          <li class="nav-item"><a href="/play/1" class="nav-link">Play</a></li>
          {% endif %}
          <li class="nav-item"><a href="/logout" class="nav-link">Logout, {{current_user.username}}</a></li>
          {% else %}
          <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
          <li class="nav-item"><a href="/reg" class="nav-link">Register</a></li>
          {% endif %}
        </ul>
      </header>
      {% block content %}
        
      {% endblock %}
</body>
</html>