{% extends 'base.html' %}
{% block content %}
    <center>
        <h1>Edit {{question.ques}}</h1>
        <form action="/editques/{{question.id}}" method="post" class="container-fluid mt-2">
            {{form.hidden_tag()}}
            {{form.csrf_token}}
            {{form.question(class='form-control', placeholder='Updated question')}}<br>
            {{form.ans(class='form-control', placeholder='Updated answer')}}
            {{form.submit(class='btn btn-primary mt-2')}}
        </form>
    </center>
{% endblock %}